.p-news {
    background-color: $color-white;
    position: absolute;
    top: 129px;
    left: 84px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100vw - 84px);
    height: 93px;
    &-title{
        margin: 0 65px;
        &>h3{
            font-size: 28px;
            font-weight: bold;
            margin: 0%;
        }
    }

    &-category{
        &>p{
            background-color: $color-accent-black;
            color: $color-white;
            padding: 7px 14px;
            margin: 0;
        }
    }

    &-day{
        margin: 0 24px;
    }
}

@media (max-width: 950px){
    .p-news {
    top: 95px;
    left: 40px;
    width: calc(100vw - 40px);
    height: 94px;
    flex-wrap: wrap;
    &-title{
        margin: 15px 20px;
        &>h3{
            font-size: 22px;
            font-weight: bold;
            margin: 0%;
        }
    }

    &-category{
        &>p{
            background-color: $color-accent-black;
            color: $color-white;
            padding: 3px 13px;
            margin: 0;
        }
    }

    &-day{
        margin: 0 0 0 15px;
    }
    &-text{
        font-size: 13px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
}