
header.l-header 
    .l-header__content
        h1.l-header__logo
            +img("logo1.png")
            +img("logo2.png")
        .l-header__menu 
          .c-menubutton
            .c-menubutton__content 
              span 
              span 
              span 
          ul.c-topmenu 
            li: a(href="") ホーム 
            li: a(href="") 社会をデザインする 
            li: a(href="") 体験で学ぶ
            li: a(href="") 資格を取得する
            li: a(href="") 社会で活躍する
            li: a(href="") 学びマップ
            li: a(href="") 教員紹介